#header {
  //colors
  background-color: $blue;
  color: rgba($coral, 0.7);
  box-shadow: 5px 5px;

  //flex
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;

  //sizing
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;

  //sticky
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;  
  }

  h1 {
    margin: 0px;
  }

  h1:hover {
    color: $coral;
    cursor: pointer;
  }

  .header-page-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;

    p, strong {
      padding-left: 10px;
      padding-right: 10px;
    }

    p:hover, strong:hover {
      color: $coral;
      cursor: pointer;
    }
  }
}