#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  //colors
  background-color: $blue;
  color: $light-coral;

  //flex
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;

  //sizing
  width: 98vw;
  top: 20px;
  padding-top: 8px;
  padding-bottom: 8px;

  //sticky
  position: fixed;

  h1 {
    margin-left: 10px;
  }

  h1:hover {
    color: $coral;
    cursor: pointer;
  }

  .header-page-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;

    p, strong {
      padding-left: 10px;
      padding-right: 10px;
    }

    p:hover, strong:hover {
      color: $coral;
      cursor: pointer;
    }
  }
}